@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


    <li class="nav-item">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link" })
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-link" }))
        {
            @Html.AntiForgeryToken()

            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>
}

else
{
    <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { @class="nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Log in","Login", "Account", null, new { @class="nav-link" })</li>

}
