@model StoreFrontPowKit.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br />
                <h2>@ViewBag.Title</h2>
                <hr />
                <h4 class="post-title">Success! The following message has been received:</h4>
                <p>
                    @Model.Message
                </p>
                <h5 class="post-title">We will respond as soon as we can.</h5>
                <br />
                <h5 class="post-title">We will reply to: @Model.Email.</h5>
            </div>
        </div>
    </div>
</div>


