@model IEnumerable<StoreFrontPowKit.DATA.EF.Product>

@{
    ViewBag.Title = "Home";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h5 class="display-5 fw-bolder">2022 Snowboard Gear Available</h5>
            <a class="lead fw-normal text-white-50 mb-0 nounderline" href="@Url.Action("IndividualProduct","Products")">POWKIT Latest Arrival</a>
        </div>
    </div>
</header>
<!-- Section-->
<section>
    <img class="home-page" src="~/Content/images/home-image.jpg" />
</section>